body {
    margin: 0;
    padding: 0;
    background-color: #23272b;
    color: white;
}

html {
    margin: 0;
    padding: 0;
}

/* .navbar {
    display: inline;
}

a.navbar-item {
    color: rgb(219, 219, 219);
    text-decoration: none;
}

a.navbar-item.active {
    color: white;
    font-weight: bold;
}

a.navbar-item:hover {
    text-decoration: underline;
    cursor: pointer;
} */

.navbar {
    margin:0;
    padding-top: 10px;
    padding-left: 10px;
    width: 100%;
}

.navbar-item, .dropdown-item {
    padding-right: 20px;
    cursor: pointer;
}

.ts-content {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

.lds-grid {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
}
.lds-grid div {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #fff;
    animation: lds-grid 1.2s linear infinite;
}
.lds-grid div:nth-child(1) {
    top: 8px;
    left: 8px;
    animation-delay: 0s;
}
.lds-grid div:nth-child(2) {
    top: 8px;
    left: 32px;
    animation-delay: -0.4s;
}
.lds-grid div:nth-child(3) {
    top: 8px;
    left: 56px;
    animation-delay: -0.8s;
}
.lds-grid div:nth-child(4) {
    top: 32px;
    left: 8px;
    animation-delay: -0.4s;
}
.lds-grid div:nth-child(5) {
    top: 32px;
    left: 32px;
    animation-delay: -0.8s;
}
.lds-grid div:nth-child(6) {
    top: 32px;
    left: 56px;
    animation-delay: -1.2s;
}
.lds-grid div:nth-child(7) {
    top: 56px;
    left: 8px;
    animation-delay: -0.8s;
}
.lds-grid div:nth-child(8) {
    top: 56px;
    left: 32px;
    animation-delay: -1.2s;
}
.lds-grid div:nth-child(9) {
    top: 56px;
    left: 56px;
    animation-delay: -1.6s;
}
@keyframes lds-grid {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}

.center {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    text-align: center;
}
